{{ block "title" .}}PTMS - New Activity{{ end }} {{ block "header"
.}}Activities{{ end }} {{ block "scripts" . }}
<script src="/assets/js/form.js" defer></script>
<script src="/assets/js/dialog.js" defer></script>
<script src="/assets/js/select.js" defer></script>
<script src="/assets//js/activity.js" defer></script>
{{ end }} {{ block "content" .}}

<div class="card">
  <div class="card-header">
    <h3>New Activity</h3>
  </div>

  <!-- Form -->
  <form id="create-activity-form" action="/api/activities" method="post">
    <!-- TITLE -->
    <div class="form-group">
      <label for="title">Title <small>(Required)</small></label>
      <textarea
        name="title"
        id="title"
        rows="4"
        minlength="2"
        maxlength="300"
        placeholder="Title of the activity"
        required
        autofocus
      ></textarea>
      <span class="form-error"></span>
    </div>
    <!-- END TITLE -->

    <div class="row">
      <!-- START DATE -->
      <div class="col">
        <div class="form-group">
          <label for="start_date">Start Date <small>(Required)</small></label>
          <input type="date" name="start_date" id="start_date" required />
          <span class="form-error"></span>
        </div>
      </div>
      <!-- END START DATE -->

      <!-- END DATE -->
      <div class="col">
        <div class="form-group">
          <label for="end_date">End Date <small>(Required)</small></label>
          <input type="date" name="end_date" id="end_date" required />
          <span class="form-error"></span>
        </div>
      </div>
      <!-- END END DATE -->
    </div>

    <div class="row">
      <!-- VENUE -->
      <div class="col">
        <div class="form-group">
          <label for="venue_id"
            >Venue (Name of Venue, City/Province)
            <small>(Required)</small></label
          >
          <select name="venue_id" id="venue_id">
            <option value="" selected>Select a venue...</option>
            <option value="add">Add a new venue...</option>
            {{ if .Venues }} {{ range .Venues }}
            <option value="{{ .ID }}">{{.Name}}</option>
            {{ end }} {{ end }}
          </select>

          <span class="form-error"></span>
        </div>
      </div>
      <!-- END VENUE -->

      <!-- HOST -->
      <div class="col">
        <div class="form-group">
          <label for="host_id">Host <small>(Required)</small></label>
          <select name="host_id" id="host_id">
            <option value="" selected>Select a host...</option>
            <option value="add">Add a new host...</option>
            {{ if .Hosts }} {{ range .Hosts }}
            <option value="{{ .ID }}">{{.Name}}</option>
            {{ end }} {{ end }}
          </select>

          <span class="form-error"></span>
        </div>
      </div>
      <!-- END HOST -->
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

    <a class="btn btn-secondary" href="/activities"> Back </a>
  </form>
</div>

{{ template "venue_dialog" . }} {{ template "host_dialog" . }} {{ end }}
