{{ block "title" .}}PTMS - New Activity{{ end }}

{{ block "header" .}}New Activity{{ end }}

{{ block "scripts" . }}
<script src="/assets/js/activities/create_activity.js"></script>
{{ end }}

{{ block "content" .}}

<div x-data="createActivityHandler()">

  <!-- Notification -->
  <div x-show="showNotification" class="w3-panel w3-pale-green w3-display-container w3-margin" style="display: none;">
    <span onclick="this.parentElement.style.display='none'"
      class="w3-button w3-large w3-display-topright">&times;</span>
    <h3>Success!</h3>
    <p x-text="notificationMessage"></p>
  </div>

  <!-- Form -->
  <form @submit.prevent="submitForm">

    <div class="w3-container w3-margin">
      <label>Title</label>
      <textarea name="title" id="title" x-model="formData.title" rows="5" class="w3-input w3-border" required
        autofocus></textarea>
      <small id="title-helper" x-text="errors.title"></small>
    </div>

    <div class="w3-row w3-container">
      <div class="w3-half w3-container">
        <label>Start Date</label>
        <input type="date" name="start_date" id="start_date" x-model="formData.start_date" class="w3-input w3-border"
          required>
      </div>
      <div class="w3-half w3-container">
        <label>End Date</label>
        <input type="date" name="end_date" id="end_date" x-model="formData.end_date" class="w3-input w3-border"
          required>
      </div>
    </div>

    <div class="w3-container w3-margin">

      <label>Venue</label>
      <input type="text" name="venue" id="venue" x-model="formData.venue" class="w3-input w3-border">
    </div>

    <div class="w3-container w3-margin">
      <label>Host </label>
      <input type="text" name="host" id="host" x-model="formData.host" class="w3-input w3-border">
    </div>

    <div class="w3-container w3-margin w3-center">
      <button class="w3-button w3-block w3-blue w3-padding-large" type="submit" aria-busy="loading"
        :disabled="loading">Submit</button>
      <a class="w3-container" href="/activities">Back</a>
    </div>

  </form>

</div>
{{ end }}
