{{ block "title" .}}PTMS - Edit Activity{{ end }} {{ block "header"
.}}Activities{{ end }} {{ block "scripts" . }}
<script src="/assets/js/form.js" defer></script>
<script src="/assets/js/dialog.js" defer></script>
<script src="/assets/js/select.js" defer></script>
<script src="/assets//js/activity.js" defer></script>
{{ end }} {{ block "content" .}}

<div class="card">
  <div class="card-header"><span>Edit Activity</span></div>
  <form
    id="edit-activity-form"
    action="/api/activities/{{ .Activity.ID }}"
    method="post"
  >
    <input type="hidden" name="_method" value="PUT" />

    <div class="form-group">
      <p>ID: {{ .Activity.ID }}</p>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <textarea type="text" name="title" id="title" rows="4" required autofocus>
{{ .Activity.Title }}</textarea
      >
      <span class="form-error"></span>
    </div>

    <div class="row">
      <!-- START DATE -->
      <div class="col">
        <div class="form-group">
          <label for="start_date">Start Date</label>
          <input type="date" name="start_date" id="start_date" value="{{
          .Activity.StartDate.Time.Format "2006-01-02" }}" required>
          <span class="form-error"></span>
        </div>
      </div>
      <!-- END START DATE -->

      <!-- END DATE -->
      <div class="col">
        <div class="form-group">
          <label for="end_date">End Date</label>
          <input type="date" name="end_date" id="end_date" value="{{
          .Activity.EndDate.Time.Format "2006-01-02" }}" required>
          <span class="form-error"></span>
        </div>
      </div>
      <!-- END OF END DATE -->
    </div>

    <div class="row">
      <!-- VENUE -->
      <div class="col">
        <div class="form-group">
          <label for="venue"
            >Venue (Name of Hotel, City/Province) <span>(Required)</span></label
          >
          {{ $venue_id := .Activity.VenueID }}
          <select name="venue_id" id="venue_id" required>
            <option disabled selected>Select a venue...</option>
            <option value="add">Add a new venue...</option>
            {{ if .Venues }} {{ range .Venues }}
            <option value="{{ .ID }}" {{ if eq $venue_id .ID }}selected{{end}}>
              {{.Name}}
            </option>
            {{ end }} {{ end }}
          </select>
          <span class="form-error"></span>
        </div>
      </div>
      <!-- END VENUE -->

      <!-- HOST -->
      <div class="col">
        <div class="form-group">
          <label for="host_id">Host <span>(Required)</span></label>
          {{ $host_id := .Activity.HostID }}
          <select name="host_id" id="host_id" required>
            <option disabled selected>Select a host...</option>
            <option value="add">Add a new host...</option>
            {{ if .Hosts }} {{ range .Hosts }}
            <option value="{{ .ID }}" {{ if eq $host_id .ID }}selected{{end}}>
              {{.Name}}
            </option>
            {{ end }} {{ end }}
          </select>
          <span class="form-error"></span>
        </div>
      </div>
      <!-- END HOST -->
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

    <a class="btn btn-secondary" href="/activities">Back</a>
  </form>
</div>
{{ template "venue_dialog" . }} {{ template "host_dialog" . }} {{ end }}
