{{ block "title" .}}PTMS - Activities{{ end }}
{{ block "header" .}}Activities{{ end }}
{{ block "content" .}}

<a role="button" href="/activities/create">Add new...</a>
<hr>
<table class="striped">
    <thead data-theme="dark">
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Venue</th>
            <th>Host</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ if .Activities }}
        {{ range .Activities }}
        <tr>
            <td>{{ .Title }}</td>
            <td>{{ .StartDate.Time.Format "2006-01-02" }}</td>
            <td>{{ .EndDate.Time.Format "2006-01-02" }}</td>
            <td>{{ .Venue }}</td>
            <td>{{ .Host }}</td>
            <td><a href="/activities/{{ .ID }}">View</a> <a href="/activities/{{ .ID }}/edit">Edit</a></td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="2">No data.</td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ end }}