/* assets/css/reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* assets/css/styles.css */
:root {
  --font-primary: sans-serif;
  --text-color: #242424;
  --primary-color: dodgerblue;
  --secondary-color: lightslategray;
  --tertiary-color: silver;
  --success-color: limegreen;
  --danger-color: crimson;
  --body-background-color: #eee;
  --padding: 2em;
  --margin: 1em 2em;
  --max-width: 786px;
}
html {
  font-size: 100%;
}
body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--body-background-color);
  font-family: var(--font-primary);
  color: var(--text-color);
}
section {
  font-size: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2em;
  background-color: #333;
  color: white;
}
.navbar-brand img {
  height: 40px;
}
.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  margin-left: 20px;
}
.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}
.navbar-links a:hover {
  color: #ddd;
}
.navbar-links a.active {
  background-color: var(--secondary-color);
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
}
.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.page-info {
  padding: 8px 16px;
}
.alert {
  padding: 1em 1em;
  margin: 1em 1em;
  display: none;
}
.alert-error {
  background-color: var(--danger-color);
  color: white;
}
.alert-success {
  background-color: var(--success-color);
  color: white;
}
.page-header {
  margin-top: 2rem;
  padding: 1em 2em;
}
.card {
  background-color: white;
  margin-bottom: 1.5em;
  padding: var(--padding);
}
.card-header span {
  margin-bottom: 1em;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.9em;
  table-layout: fixed;
}
th {
  background-color: lightslategray;
  color: whitesmoke;
}
th,
td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
#data-table th {
  cursor: pointer;
}
.responsive-table {
  overflow-x: auto;
}
.form-group {
  margin: 0.5em 0;
}
.form-error {
  color: var(--danger-color);
  font-size: small;
  margin: 0;
}
.has-error {
  border: 1px solid var(--danger-color);
}
label {
  color: #555;
}
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  outline: 0 !important;
  font-size: 16px;
}
textarea {
  resize: none;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid deepskyblue;
  outline: none;
}
.btn {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 12px 6px;
  cursor: pointer;
  display: inline-block;
  border: 0 !important;
  outline: 0 !important;
}
.btn-primary {
  background-color: dodgerblue;
}
.btn-secondary {
  background-color: var(--secondary-color);
}
.btn-success {
  background-color: var(--success-color);
}
.btn-small {
  padding: 0.3em 1em !important;
  margin: 0.2em 0.3em !important;
  font-size: small;
}
dialog {
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: #fefefe;
  top: 10rem;
  margin: 0 auto;
  padding: 1.5em;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 350px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
footer {
  text-align: center;
  font-size: small;
  margin: 2rem 0;
}
.row {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}
.col {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .col {
    width: 100%;
  }
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.flex {
  display: flex;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .card {
    margin: 1em 1em !important;
  }
  header h2 {
    margin: 1em 1em !important;
  }
  .top-nav ul,
  .row {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}
