{{ block "scripts". }}
<script type="module" src="/static/js/components/table.js"></script>
{{ end }} {{ define "datatable" }}
<div class="flex">
  <!-- Search -->
  <input
    type="search"
    id="filterInput"
    placeholder="Search..."
    autocomplete="on"
    autofocus
  />

  <select id="filterSelect" style="width: fit-content"></select>
</div>

<!-- Pagination -->
<div class="pagination" id="paginationControls">
  <div class="flex">
    <button id="firstButton" type="button" title="First Page">&laquo;</button>
    <button id="prevButton" type="button" title="Previous Page">
      &lsaquo;
    </button>
    <button id="nextButton" type="button" title="Next Page">&rsaquo;</button>
    <button id="lastButton" type="button" title="Last Page">&raquo;</button>
    <button id="refreshButton" type="button">Refresh</button>
    <button id="resetButton" type="button">Reset</button>
  </div>
  <div class="flex">
    <label for="pageJumpInput">Jump to page:</label>
    <input type="text" id="pageJumpInput" pattern="\d+" />
  </div>
  <div class="flex">
    <label for="rowsPerPage">Rows per page:</label>
    <select id="rowsPerPage">
      <option value="5" selected>5</option>
      <option value="10">10</option>
      <option value="30">30</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</div>

<!-- Dynamic Table -->
<table id="dynamicTable" {{ .Headers | attr }} {{ .Url | attr }}>
  <thead id="dynamicTableHead"></thead>
  <tbody id="dynamicTableBody"></tbody>
</table>

<div class="page-info">
  <span id="pageInfo"></span><span id="recordsInfo"></span>
</div>
{{ end }}
