/* Alert */
.alert {
	background-color: var(--baby-powder);
	padding: 1rem 2rem;
	margin-top: 2rem;
	width: 100%;
	max-width: 300px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: var(--border-radius);
	display: none;
}

.alert #notification-header {
	font-size: 1.25rem;
	font-weight: 700;
	width: 100%;
	white-space: nowrap;
}

.alert #notification-message {
	font-size: 1rem;
	width: 100%;
	color: #555;
}

.alert-error #notification-header {
	color: var(--danger-color);
}

.alert-success #notification-header {
	color: #269b24;
}

/* End Alert */
