:root {
	--peach-yellow: #f7dba7ff;
	--atomic-tangerine: #f1ab86ff;
	--brown-sugar: #c57b57ff;
	--gunmetal: #1e2d2fff;
	--dark-green: #041f1eff;

	--midnight-green: #1e555cff;
	--ghost-white: #e8ebf7ff;
	--safety-orange: #f17300ff;
	--claret: #7d1d3fff;
	--french-gray: #b8bac8ff;

	--antiflash-white: #eef0f2ff;
	--silver: #c6c7c4ff;
	--rose-quartz: #a2999eff;
	--rose-taupe: #846a6aff;
	--onyx: #353b3cff;

	--dark-magenta: #861388ff;
	--mint-cream: #f0f7f4ff;
	--honolulu-blue: #0471a6ff;
	--puce: #c799a6ff;
	--violet-jtc: #4b2840ff;

	--baby-powder: #fdfffc;
	--bondi-blue: #0095b6;
}
