@import "reset.css";
@import "colors.css";
@import "navbar.css";
@import "alert.css";
@import "card.css";
@import "form.css";
@import "button.css";
@import "table.css";
@import "pagination.css";
@import "modal.css";
@import "spinner.css";
/* @import "spinner-overlay.css"; */
@import "media-queries.css";
@import "layout.css";
@import "utilities.css";

:root {
	--font-primary: sans-serif;
	--font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
	--text-color: #242424;

	--primary-color: var(--bondi-blue);
	--secondary-color: lightslategray;
	--tertiary-color: silver;
	--success-color: limegreen;
	--danger-color: crimson;

	--body-background-color: var(--mint-cream);

	--padding: 15px;
	--margin: 1em 2em;

	--max-width: 768px;
	--box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--border-radius: 0.375rem;
}

html {
	font-size: 1rem;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--body-background-color);
	color: var(--text-color);
	font-family: var(--font-primary);
	font-size: var(--font-size);
	margin: 0;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	margin: auto;
	flex-grow: 1;
}

.page-header {
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-left: 7rem;
}

.title {
	margin: 0;
	font-size: 1.25rem;
	font-weight: 700;
	color: #212121;
}

.subtitle {
	font-size: 0.725rem;
	max-width: 80%;
	text-align: center;
	line-height: 1.1rem;
	color: #8b8e98;
}

footer {
	text-align: center;
	font-size: 0.8rem;
	margin: 2rem 0;
}
