:root {
	--primary-color: dodgerblue;
	--secondary-color: lightslategray;
	--tertiary-color: silver;
	--success-color: limegreen;
	--danger-color: crimson;
	--border-radius: 6px;
}

/* Resets */
/*
	1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
	2. Remove default margin
  */
* {
	margin: 0;
}

/*
	Typographic tweaks!  margin: 0;
	padding: 0;
	3. Add accessible line-height
	4. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/*
	5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
	6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}

/*
	7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/* End Resets */

body {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	background: #eee;
	font-family: sans-serif;
}

/* Table */
table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

th {
	background-color: lightslategray;
	color: whitesmoke;
}

.responsive-table {
	overflow-x: auto;
}
/* End Table */

/* Card */
.card {
	background-color: white;
	margin: 1.5em 0;
	padding: 2rem;
	/* box-shadow: 0 0 4px rgba(200, 200, 200, 0.25); */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: var(--border-radius);
}

.card-header span {
	margin-bottom: 1em;
	font-weight: bold;
}

/* End Card */

/* Forms */

.form-group {
	margin: 0.5em 0;
}

.form-error {
	color: var(--danger-color);
	font-size: small;
	margin: 0;
}

.has-error {
	border: 1px solid var(--danger-color);
}

label {
	color: #555;
}

input,
select,
textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: var(--border-radius); /* Rounded borders */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 6px; /* Bottom margin */
	outline: 0 !important;
}

textarea {
	resize: none;
}

input:focus,
select:focus,
textarea:focus {
	border: 1px solid deepskyblue;
	outline: none;
}
/* End Input */

/* Button */
.btn {
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	margin: 12px 6px;
	cursor: pointer;
	border-radius: var(--border-radius);
	display: inline-block; /* Add this */
	border: 0 !important;
	outline: 0 !important;
}

.btn-primary {
	background-color: dodgerblue;
}

.btn-secondary {
	background-color: var(--secondary-color);
}

.btn-success {
	background-color: var(--success-color);
}

/* End Button */

/* Navbar */
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0.5em;
	overflow: hidden;
	background-color: black;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 24px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: var(--tertiary-color);
	color: black;
}

ul.topnav li a.active {
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}
/* End Navbar */

/* Layout */
.row {
	display: flex;
	gap: 1em;
}

.col {
	flex: 50%;
}

@media screen and (max-width: 600px) {
	.col {
		width: 100%;
	}
}
/* End Layout */

/* Modal */
dialog {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	overflow: auto; /* Enable scroll if needed */
	background-color: #fefefe;
	top: 10rem;
	margin: 0 auto;
	padding: 1.5em;
	border: 1px solid #ccc;
	width: 80%;
	max-width: 350px;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/* End Modal */

/* Utilities */
.right {
	float: right;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

header h2 {
	margin: 1em 1em;
}

.error {
	background-color: var(--danger-color);
	color: white;
}

.success {
	background-color: var(--success-color);
	color: white;
}

.alert {
	padding: 1em 1em;
	margin: 1em 1em;
	display: none;
	border-radius: var(--border-radius);
}
