<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}PTMS{{ end }}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    {{ block "styles" . }}{{ end }}
    <script type="module" src="/static/js/app.js"></script>
    {{ block "scripts" . }}{{ end }}
  </head>

  <body>
    <!-- Navigation Bar -->
    <header>{{ template "topnav" . }}</header>

    <main>
      <!-- Notification -->
      <section>{{ template "notification" . }}</section>

      <!-- Page Header -->
      <section class="page-header">
        <h2>{{ block "header" . }}{{ end }}</h2>
      </section>

      <!-- Page Content -->
      <section>{{ block "content" . }}{{ end }}</section>
    </main>

    <footer>&copy; 2024. PTMS</footer>
  </body>
</html>
