<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>{{ block "title" . }}PTMS{{ end }}</title>
  <link rel="stylesheet" href="/assets/vendor/css/w3.css">
  {{ block "styles" . }}{{ end }}
  {{ block "scripts" . }}{{ end }}
</head>

<body>
  <main>

    <!-- Navigation Bar -->
    <div class="w3-container w3-bar w3-border w3-blue-gray">
      <a href="/" class="w3-bar-item w3-button w3-padding-24">PTMS</a>
      <a href="/personnel" class="w3-bar-item w3-button w3-padding-24 w3-right">Personnel</a>
      <a href="/activities" class="w3-bar-item w3-button w3-padding-24 w3-right">Activities</a>
      <a href="/travels" class="w3-bar-item w3-button w3-padding-24 w3-right">Travels</a>
    </div>

    <!-- Page Header -->
    <section class="w3-container w3-section">
      <div class="w3-container">
        <header class="w3-container"></header>
        <h2>{{ block "header" . }}{{ end }}</h2>
        </header>
      </div>
    </section>

    <!-- Page Content -->
    <section class="w3-container w3-section">
      <div class="w3-card-4 w3-margin w3-padding-24">
        <div class="w3-container">

          <!-- Notification -->
          <div id="notification" class="w3-panel w3-pale-green w3-display-container w3-margin" style="display: none;">
            <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
            <h3 id="notification-header"></h3>
            <p id="notification-message"></p>
          </div>

          {{ block "content" . }}{{ end }}
        </div>
      </div>
    </section>

  </main>
</body>

</html>
