<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>{{ block "title" . }}PTMS{{ end }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    {{ block "styles" . }}{{ end }} {{ block "scripts" . }}{{ end }}
  </head>

  <body>
    <div class="container">
      <!-- Navigation Bar -->
      <header class="mb-2">
        <nav class="navbar">
          <div class="navbar__brand">
            <a href="/">PTMS</a>
          </div>
          <ul class="navbar__links">
            <li class="navbar__link">
              <a href="/personnel">Personnel</a>
            </li>
            <li class="navbar__link">
              <a href="/activities">Activities</a>
            </li>
            <li class="navbar__link">
              <a href="/travels">Travels</a>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        <!-- Notification -->
        {{ template "notification" . }}

        <!-- Page Header -->
        <header>
          <h2>{{ block "header" . }}{{ end }}</h2>
        </header>

        <!-- Page Content -->
        <section>{{ block "content" . }}{{ end }}</section>
      </main>
    </div>
  </body>
</html>
