{{ block "title" .}}PTMS - New Activity{{ end }}

{{ block "header" .}}New Activity{{ end }}

{{ block "styles" . }}
<style>
    /* Success notification styles */
    .notification {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
    }
</style>
{{ end }}

{{ block "scripts" . }}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="/assets/js/activities/create_activity.js"></script>
{{ end }}

{{ block "content" .}}

<div x-data="createActivityHandler()">

    <!-- Notification -->
    <div x-show="showNotification" class="notification">
        <p x-text="notificationMessage"></p>
    </div>

    <hr>

    <!-- Form -->
    <form @submit.prevent="submitForm">

        <label>Title
            <textarea name="title" id="title" x-model="formData.title" rows="5" aria-invalid="errors.title.length > 0"
                aria-describedby="title-helper" required autofocus></textarea>
            <small id="title-helper" x-text="errors.title"></small>
        </label>

        <div class="grid">

            <label>Start Date
                <input type="date" name="start_date" id="start_date" x-model="formData.start_date" required>
            </label>

            <label>End Date
                <input type="date" name="end_date" id="end_date" x-model="formData.end_date" required>
            </label>

        </div>

        <label>Venue
            <input type="text" name="venue" id="venue" x-model="formData.venue">
        </label>

        <label>Host
            <input type="text" name="host" id="host" x-model="formData.host">
        </label>

        <button type="submit" aria-busy="loading" :disabled="loading">Submit</button>

        <a href="/activities">Back</a>
    </form>

</div>
{{ end }}