{{ block "title" .}}PTMS - Activities{{ end }}
{{ block "header" .}}Activities{{ end }}
{{ block "content" .}}
<a href="/activities/create">Add new...</a>
<table border="1">
    <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Venue</th>
            <th>Host</th>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {{ if .Activities }}
        {{ range .Activities }}
        <tr>
            <td>{{ .Title }}</td>
            <td>{{ .StartDate }}</td>
            <td>{{ .EndDate }}</td>
            <td>{{ .Venue }}</td>
            <td>{{ .Host }}</td>
            <td><a href="/activities/{{ .ID }}">View</a> <a href="/activities/{{ .ID }}/edit">Edit</a></td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="2">No data.</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}