{{ define "host_dialog" }}

<dialog id="create-host-dialog">
  <span id="dialog-close" class="close">&times;</span>

  <h3>Add Host</h3>
  <form id="create-host-form" action="/api/hosts" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required autofocus />
      <span class="form-error"></span>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</dialog>

{{ end }}
