{{ define "pagination" }} {{ if gt .TotalPages 1 }}
<div class="pagination">
  <div class="pager">
    <button id="firstPage">&#8676;</button>
    <button id="prevPage">&laquo;</button>
    <button id="nextPage">&raquo;</button>
    <button id="lastPage">&#8677;</button>
    <button id="refresh">Refresh</button>
  </div>
  <div>
    <span
      >Go to Page
      <input
        type="number"
        id="currentPage"
        value="{{.Page}}"
        style="width: 6rem; padding: 8px 16px"
        min="1"
      />
      of <span id="totalPages">1</span></span
    >
  </div>
  <div class="flex">
    <label for="recordsPerPage">Records per page: </label>
    <select id="recordsPerPage" style="width: 5rem; padding: 8px 16px">
      <option value="5" {{ if eq .Limit 5 }}selected{{end}}>5</option>
      <option value="10" {{ if eq .Limit 10 }}selected{{end}}>10</option>
      <option value="25" {{ if eq .Limit 25 }}selected{{end}}>25</option>
      <option value="50" {{ if eq .Limit 50 }}selected{{end}}>50</option>
      <option value="100" {{ if eq .Limit 100 }}selected{{end}}>100</option>
    </select>
  </div>
  <div id="recordInfo" class="right">
    Showing <span id="currentRecords">0</span> of
    <span id="totalRecords">0</span> records
  </div>
</div>
{{ end }} {{ end }}
