{{ define "pagination" }} {{ if gt .TotalPages 1 }}
<div class="pagination">
  <a href="/activities?page={{.PrevPage}}&limit={{$.Limit}}">&laquo;</a>

  {{ if gt .Page 10 }}
  <a href="/activities?page=1&limit={{$.Limit}}">1</a>
  {{ end }} {{range .PageRange }}
  <a href="/activities?page={{.}}&limit={{$.Limit}}">{{ . }}</a>
  {{ end }}
  <a href="#">...</a>
  <a href="/activities?page={{.TotalPages}}&limit={{$.Limit}}"
    >{{ .TotalPages }}</a
  >
  <a href="/activities?page={{.NextPage}}&limit={{$.Limit}}">&raquo;</a>

  <div class="right">
    <label>Total Items: {{ .TotalItems }}</label>
    <label>Go to Page:</label>
    <input type="number" name="page" id="page" value="{{.Page}}" />
  </div>
</div>
{{ end }} {{ end }}
