{{ block "title" . }}PTMS - View Activity{{ end }} {{ block "header" .
}}Activities{{ end }} {{ block "styles" . }}
<style>
  td {
    border: none;
    font-size: medium;
  }

  td:first-child {
    width: 20%;
  }

  td:nth-child(2) {
    font-weight: bold;
  }
</style>
{{ end }} {{ block "content" . }}

<div class="card">
  <div class="card-header">
    <h3>Activity Details</h3>
  </div>

  <table>
    <tr>
      <td>ID</td>
      <td>{{ .ID }}</td>
    </tr>
    <tr>
      <td>Title</td>
      <td>{{ .Title }}</td>
    </tr>
    <tr>
      <td>Start Date</td>
      <td>{{ .StartDate.Time.Format "2006-01-02" }}</td>
    </tr>
    <tr>
      <td>End Date</td>
      <td>{{ .EndDate.Time.Format "2006-01-02" }}</td>
    </tr>
    <tr>
      <td>Venue</td>
      <td>{{ .Venue }}</td>
    </tr>
    <tr>
      <td>Region</td>
      <td>{{ .Region }}</td>
    </tr>
    <tr>
      <td>Host</td>
      <td>{{ .Host }}</td>
    </tr>
    <tr>
      <td>Date Created</td>
      <td>{{ .CreatedAt.Format "Mon, 02 Jan 2006 15:04:05 MST" }}</td>
    </tr>
    <tr>
      <td>Last Updated</td>
      <td>{{ .UpdatedAt.Format "Mon, 02 Jan 2006 15:04:05 MST" }}</td>
    </tr>
  </table>

  <a class="btn btn-secondary" href="/activities">Back</a>
</div>

{{ end }}
